// Stage 1
.s1 {
  text-align: center;
}

// Stage 2
.s2 {
  text-align: center;
}

// Stage 3
.s3 {
  text-align: center;
}

// Stage 4
.s4 {}

// Stage 5
.s5 {}

// Stage 6
.s6 {
  position: fixed;
    bottom: 0;
  text-align: center;
  z-index: -10;
}
  .s6__services {
    @extend %nav;

    li {
      width: 12.5%;
    }
  }
