// Stage 1
.s1 {
  background-color: #F3F2F3;
  text-align: center;
}
  .s1__video {
    position: absolute;
      top: 0px; left: 0px;
    z-index: 0;
  }
  .s1__video-dimmer {
    background-color: rgba(255,255,255,0.5);
    height: 720px;
    position: absolute;
      top: 0; left: 0;
    width: 1280px;
    z-index: 10;
  }
  .s1__title {
    position: absolute;
      top: 78px; left: (1280px/2)-(383/2);
    z-index: 20;

    .s1__welcome,
    .s1__to-a-new {
      display: block;
      text-transform: uppercase;
    }
    .s1__welcome {
      font-weight: 800;
    }

    .s1__to-a-new {
      font-weight: 300;
    }

    img {
      display: block;
      margin: $base-line-height auto 0;
    }
  }
  .s1__scroll-cta {
    display: none; // TEMP
    position: absolute;
      bottom: 0; left: (1280px/2)-(69/2);
    text-transform: uppercase;
    z-index: 20;
  }

// Stage 2
.s2 {
  background-color: #98918B;
  text-align: center;
}
  .s2__title {
    color: #F5F5F5;
    position: absolute;
      top: 0; left: (1280px/2)-(516/2);
    z-index: 20;
  }
    .s2__we-recently-relaunched {
      font-weight: 300;
    }
    .s2__unique-news-sites {
      display: block;
      font-weight: 300;
      text-transform: uppercase;
    }
      .s2__count {
        color: #312F2D;
        font-weight: 800;
      }
      .s2__unique {
        font-weight: 800;
      }

  .s2__sites {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    position: relative;
    height: 720px;
    width: 1280px;
  }
    .s2__site {
      position: absolute;
        top: 230px;

      img {
        display: block;
        max-width: 100%;
      }
    }
    .s2__site--russian {
      top: 280px; left: 140px;
      width: 360px;
      z-index: 8;
    }
    .s2__site--mundo {
      left: (1280px/2)-(420/2);
      width: 420px;
      z-index: 10;
    }
    .s2__site--arabic {
      top: 280px; right: 140px;
      width: 360px;
      z-index: 9;
    }

// Stage 3
.s3 {
  background-color: #3C4141;
  text-align: center;
}
  .stage__content--s3 {
    background-image: url('../img/s3-bg.gif');
    background-repeat: repeat-x;
  }
  .s3__title {
    color: #FFF;
    font-weight: 300;
  }
    .s3__count {
      @extend h1;

      display: block;
      font-weight: 800;
    }
  .s3__graph {

    p {
      color: #17B2B2;
    }
  }
    .s3__count {
      @extend h1;

      display: block;
    }

// Stage 4
.s4 {
  background-color: #F24F00;
}
  .s4__map {
    position: absolute;
      top: 0; left: 0;
    z-index: 0;
  }
  .s4__title-group {
    position: absolute;
      top: 100px; left: 0;
    width: 568px;
    z-index: 10;
  }
    .s4__title {
      color: #FFF;
      font-weight: 300;
    }
      .s4__in-27 {
        @extend h1;
        display: block;
        font-weight: 800;
      }
    .s4__languages {
      @extend %nav;

      li {
        padding: $base-line-height / 6 $base-line-height / 4;
      }
      img {
        display: block;
      }
    }

  .s4__fact {
    color: #FFF;
    position: absolute;
    width: 256px;
    z-index: 10;

    p {
      @extend %clearfix;
      background-color: #180A00;
      margin-top: 0;
      margin-bottom: 0;
      padding: $base-line-height;
    }
  }
    .s4__fact-name {
      float: left;
    }
    .s4__fact-value {
      float: right;
    }
    .s4__fact-pin {
      margin-top: -1px; // Clean up AA-edge
      display: block;
    }

  // Russian Fact
  .s4__fact--russian {
    top: 16px; right: 242px;

    .s4__fact-name {
      width: 120px;
    }
    .s4__fact-value {
      width: 56px;
    }
  }

  // Sinhala Fact
  .s4__fact--sinhala {
    top: 222px  ; right: 0;

    .s4__fact-name {
      width: 120px;
    }
    .s4__fact-value {
      width: 56px;
    }
  }

// Stage 5
.s5 {
  background-color: #F0F0F0;
  color: #626969;

  .stage__content {
    overflow: visible;
  }
}
  .s5__title-group {
    position: absolute;
      top: 0; left: 0;
    z-index: 0;
  }
    .s5__title {
      text-transform: uppercase;
    }
    .s5__devices {
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      position: relative;
      width: 100%;

      li {
        position: absolute;
      }
    }
      .s5__device {

        img {
          display: block;
          max-width: 100%;
        }
      }
      .s5__device--desktop {
        top: 0; left: 0;
        z-index: 10;
      }
      .s5__device--tablet {
        top: 0; left: 210px;
        z-index: 20;
      }
      .s5__device--smart {
        top: 0; left: 420px;
        z-index: 30;
      }
      .s5__device--feature {
        top: 0; left: 530px;
        z-index: 40;
      }

  .s5__facts {
    list-style: none;
    padding-left: 0;
    position: absolute;
      top: 0; right: 0;
    z-index: 0;

    strong {
      @extend h3;
      display: block;
    }
  }
  .s5__pointer {
    position: absolute;
    bottom: -24px; left: (1280px/2)-(48/2);
  }

// Stage 6
.s6 {
  background-color: #CC0101;
  color: #FFF;
  position: fixed;
    right: 0; bottom: 0; left: 0;
  text-align: center;
  z-index: -10;

  .stage__content {
    height: 800px;
  }
}
  .s6__title {}
  .s6__services {
    @extend %nav;

    li {
      border-right: 1px solid #A10000;
      border-bottom: 1px solid #A10000;
      width: 12.5%;

      &:nth-child(8n+1) {
        border-left: 1px solid #A10000;
      }
      &:nth-child(-n+8) {
        border-top: 1px solid #A10000;
      }
    }
  }
    .s6__service {
      background-color: #CC0101;
      display: block;
      height: 112px;
      overflow: hidden;
      transition: background-color 150ms ease-out;

      &:hover {
        background-color: #A10000;
        transition: background-color 150ms ease-in;
      }

      img {
        display: block;
      }
    }
      .s6__blocks,
      .s6__name {
        margin: 0 auto;
      }
      .s6__blocks {
        margin-top: 38px;
      }
      .s6__name {
        margin-top: $base-line-height / 6;
      }
