// main.scss
//

@import 'typography';

@font-face {
  font-family: 'HelveticaNeueforBBC-Rg';
  src: url('../fonts/HelveticaNeueforBBC-Rg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueforBBC-Rg.otf') format('opentype'),
       url('../fonts/HelveticaNeueforBBC-Rg.woff') format('woff'),
       url('../fonts/HelveticaNeueforBBC-Rg.ttf') format('truetype'),
       url('../fonts/HelveticaNeueforBBC-Rg.svg#HelveticaNeueforBBC-Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
  height: 100%;
}
body {
  color: #222;
  font-family: 'HelveticaNeueforBBC-Rg', sans-serif;
  font-size: $base-font-size;
  height: 100%;
  line-height: $base-line-height; // 1.4
  // -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4 {
  letter-spacing: -2px;
}
h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin-top: $h1-margin-top;
  margin-bottom: $h1-margin-bottom;
}
h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin-top: $h2-margin-top;
  margin-bottom: $h2-margin-bottom;
}
h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin-top: $h3-margin-top;
  margin-bottom: $h3-margin-bottom;
}
h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  margin-top: $h4-margin-top;
  margin-bottom: $h4-margin-bottom;
}

p, ul, ol, pre, table, blockquote {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

a {
  text-decoration: none;
}

// PAGE
//

.scene {
  margin-bottom: 720px;
}
.stage {}
  .stage__content {
    height: 720px;
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
    position: relative;
  }

@import 'stages';


// Objects
//

%nav {
  @extend %clearfix;

  list-style: none;
  padding-left: 0;

  > li {
    float: left;
  }
}


// Utility
//

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
